name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.13
      id: go
    
    - name: Install packages
      run: sudo apt-get install gcc-mingw-w64-x86-64 binutils-mingw-w64-x86-64 unzip

    - name: Check out code into the Go module directory
      run: go get -v -t -d -tags divert github.com/Gskartwii/roblox-dissector/...
    
    - name: Install Qt bindings
      run: |
        export QT_API=5.12.0
        docker pull therecipe/qt:windows_64_shared
        go get -v -tags=no_env,divert github.com/therecipe/qt/cmd/...

    - name: Compile
      run: |
        export QT_API=5.12.0
        cd `go env GOPATH`/src/github.com/Gskartwii/roblox-dissector
        x86_64-w64-mingw32-windres icon.rc -o icon_win64.syso
        qtdeploy -docker -tags=divert build windows 2> ~/deploy-log.txt

    - name: Insert WinDivert binaries
      run: |
        wget https://reqrypt.org/download/WinDivert-2.2.0-A.zip -O windivert.zip
        unzip windivert.zip -d windivert
        cp windivert/WinDivert-2.2.0-A/x64/WinDivert{64.sys,.dll} `go env GOPATH`/src/github.com/Gskartwii/roblox-dissector/deploy/windows/

    - name: Move artifacts
      run: cp -R `go env GOPATH`/src/github.com/Gskartwii/roblox-dissector/deploy ~/deploy-artifacts
    
    - name: Upload artifacts
      uses: actions/upload-artifact@v2
      with:
        name: windows-binary
        path: ~/deploy-artifacts/
    
    - name: Upload qtdeploy log
      if: ${{ failure() }}
      uses: actions/upload-artifact@v2
      with:
        name: build-log
        path: ~/deploy-log.txt
