name: Go

on:
  push:
    branches: [ gtk ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    name: Build
    runs-on: windows-latest
    steps:

    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: '^1.13.1' # The Go version to download (if necessary) and use.

    - name: Install MSYS
      uses: msys2/setup-msys2@v2
      with:
        release: false
        update: false
        install: 'mingw-w64-x86_64-gtk3 mingw-w64-x86_64-toolchain base-devel glib2-devel pkg-config'
        path-type: inherit

    - name: Patch pkg-config bug
      shell: msys2 {0}
      run: sed -i -e 's/-Wl,-luuid/-luuid/g' /mingw64/lib/pkgconfig/gdk-3.0.pc

    - name: Check out code into the Go module directory
      shell: msys2 {0}
      run: PATH=$GOROOT/bin:$PATH ls $GOROOT/bin && $GOROOT/bin/go get -v -t -d -tags divert github.com/Gskartwii/roblox-dissector/...

    # - name: Download WinDivert binaries
    #   run: |
    #     wget https://reqrypt.org/download/WinDivert-2.2.0-A.zip -O ~/windivert.zip
    #     unzip ~/windivert.zip -d ~/windivert
    #
    # - name: Make -lwindivert available
    #   run: cp ~/windivert/WinDivert-2.2.0-A/x64/WinDivert.dll `go env GOPATH`/src/github.com/Gskartwii/windivert-go/libwindivert.dll

    - name: Compile
      shell: msys2 {0}
      run: PATH=$GOROOT/bin:$PATH echo $PATH && echo $(go env GOPATH) && cd "$(go env GOPATH)/src/github.com/Gskartwii/roblox-dissector" && git checkout gtk && git submodule update --init && go build

    # - name: Insert WinDivert binaries
    #   run: cp ~/windivert/WinDivert-2.2.0-A/x64/WinDivert{64.sys,.dll} `go env GOPATH`/src/github.com/Gskartwii/roblox-dissector/deploy/windows/

    - name: Copy artifacts
      shell: msys2 {0}
      run: PATH=$GOROOT/bin:$PATH mkdir /c/artifacts && cd "$(go env GOPATH)/src/github.com/Gskartwii/roblox-dissector" && cp roblox-dissector.exe /c/artifacts && cp -R res/ /c/artifacts/res
    
    - name: Upload artifacts
      uses: actions/upload-artifact@v2
      with:
        name: windows-binary
        path: C:\artifacts

