name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.13
      id: go
    
    - name: Install packages for cross-compiling
      run: sudo apt-get install gcc-mingw-w64-x86-64 binutils-mingw-w64-x86-64

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2
    
    - name: Install Qt bindings
      run: |
        export QT_API=5.12.0
        docker pull therecipe/qt:windows_64_shared
        go get -v -tags=no_env github.com/therecipe/qt/cmd/...

    - name: Get dependencies
      run: |
        go get -v -t -d ./...
        if [ -f Gopkg.toml ]; then
            curl https://raw.githubusercontent.com/golang/dep/master/install.sh | sh
            dep ensure
        fi

    - name: Compile
      run: |
        export QT_API=5.12.0
        x86_64-w64-mingw32-windres icon.rc -o icon_win64.syso
        $GOPATH/bin/qtdeploy -docker build windows
